* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  max-width: 1920px;
  min-width: 320px;
  font-family: "Roboto", sans-serif;
  margin: 0 auto; }

.header {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  font-size: 1rem; }
  @media screen and (max-width: 768px) {
    .header {
      font-size: 0.75rem; } }
  .header__nav {
    max-width: 1200px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    color: #152743; }
    @media screen and (max-width: 1220px) {
      .header__nav {
        margin-left: 20px; } }
  .header .nav {
    height: 86px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    font-size: 1em;
    font-weight: 700; }
    @media screen and (max-width: 1220px) {
      .header .nav {
        width: 90%; } }
    .header .nav__input, .header .nav__label {
      display: none; }
    @media screen and (max-width: 1220px) {
      .header .nav__input:checked + .nav__label .nav__span {
        opacity: 0;
        top: 50%; }
      .header .nav__input:checked + .nav__label .nav__span:first-child {
        opacity: 1;
        transform: rotate(45deg); }
      .header .nav__input:checked + .nav__label .nav__span:last-child {
        opacity: 1;
        transform: rotate(-45deg); }
      .header .nav__input:checked ~ .nav__list {
        display: block; } }
  @media screen and (max-width: 1220px) and (max-width: 768px) {
    .header .nav__input:checked ~ .nav__list {
      background-color: #fff;
      width: 100vw;
      position: absolute;
      padding-bottom: 0.5em;
      top: 70px;
      left: 0px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly; } }
    @media screen and (max-width: 1220px) {
      .header .nav__input:checked ~ .nav__login {
        display: block; } }
    @media screen and (max-width: 1220px) {
      .header .nav__label {
        display: block;
        position: absolute;
        top: 30px;
        right: 20px;
        height: 26px;
        width: 36px; }
        .header .nav__label:hover {
          cursor: pointer; } }
    .header .nav__span {
      position: absolute;
      width: 36px;
      height: 2px;
      top: 50%;
      left: 0%;
      background-color: #152743;
      border-radius: 2px;
      transition: 0.3s; }
      .header .nav__span:first-child {
        top: 0px; }
      .header .nav__span:last-child {
        top: 24px; }
    .header .nav__logo {
      width: 116px;
      height: 50px; }
    .header .nav__list {
      list-style: none;
      display: -ms-flexbox;
      display: flex; }
      @media screen and (max-width: 1220px) {
        .header .nav__list {
          display: none; } }
    .header .nav__item {
      display: inline-block;
      height: 45px;
      line-height: 45px;
      margin-left: 55px;
      cursor: pointer; }
      .header .nav__item:hover {
        border-bottom: 3px solid #6ba5c6; }
      .header .nav__item:first-child {
        margin-left: 0; }
      @media screen and (max-width: 1220px) {
        .header .nav__item {
          margin-left: 0.25vw; } }
    .header .nav__login {
      display: inline-block;
      width: 120px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      background-color: #fc3b56;
      color: #fff;
      font-size: 1em;
      border-radius: 5px;
      border-style: none; }
      .header .nav__login:focus {
        outline: 0; }
      @media screen and (max-width: 1220px) {
        .header .nav__login {
          display: none; } }
      @media screen and (max-width: 768px) {
        .header .nav__login {
          position: relative;
          right: 15%;
          width: 80px;
          height: 30px;
          line-height: 30px; } }
  .header__banner {
    background-image: url("../img/desktop_banner_photo.png");
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%; }
    @media screen and (max-width: 1220px) {
      .header__banner {
        background-image: url("../img/tablet_banner_photo.png");
        height: 480px; } }
    @media screen and (max-width: 768px) {
      .header__banner {
        background-image: url("../img/phone_banner_photo.png");
        height: 300px; } }
  .header .banner__cnt {
    max-width: 1200px;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    color: #152743;
    height: 100%;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: end;
        justify-content: flex-end;
    color: #fff; }
    @media screen and (max-width: 1220px) {
      .header .banner__cnt {
        margin-left: 20px; } }
  .header .banner__info {
    font-size: 2em;
    margin-bottom: 1.25em;
    font-weight: 400; }
    @media screen and (max-width: 768px) {
      .header .banner__info {
        margin-bottom: 0.5em; } }
  .header .banner__details {
    display: inline-block;
    font-size: 0.9em;
    font-weight: 300;
    line-height: 1.5em;
    width: 785px;
    margin-bottom: 1.25em; }
    @media screen and (max-width: 1220px) {
      .header .banner__details {
        width: 80%; } }
    @media screen and (max-width: 768px) {
      .header .banner__details {
        width: 90%;
        margin-bottom: 0.75em;
        line-height: 1.25em; } }
  .header .banner__contact {
    display: inline-block;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #fc3b56;
    color: #fff;
    font-size: 1em;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 42px; }
    .header .banner__contact:focus {
      outline: 0; }
    @media screen and (max-width: 768px) {
      .header .banner__contact {
        margin-bottom: 0.75em; } }

.passion {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  color: #152743;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  font-size: 1rem; }
  @media screen and (max-width: 1220px) {
    .passion {
      margin-left: 20px; } }
  .passion__heading {
    margin-top: 100px;
    font-size: 1.75em; }
    .passion__heading:after {
      content: '';
      width: 60px;
      height: 3px;
      background: #fc3b56;
      display: block;
      margin: 0 auto;
      margin-top: 25px;
      margin-bottom: 50px; }
  .passion__content {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
    position: relative; }
    @media screen and (max-width: 768px) {
      .passion__content {
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-align: center;
            align-items: center; } }
  .passion__info {
    width: 270px;
    height: 210px;
    background-image: url("../img/Pattern_horizontal.png");
    background-position: 75% 55%;
    background-size: 135%;
    text-align: center; }
    @media screen and (max-width: 1220px) {
      .passion__info {
        width: 190px; } }
    @media screen and (max-width: 768px) {
      .passion__info {
        width: 270px;
        margin-bottom: 90px; } }
  .passion__img {
    margin-top: 70px;
    margin-bottom: 35px; }
  .passion__title {
    font-size: 1em;
    margin-bottom: 1.25em; }
  .passion__details {
    font-size: 0.875em; }

.contact {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  color: #152743;
  -ms-flex-direction: column;
      flex-direction: column;
  font-size: 1rem;
  -ms-flex-align: center;
      align-items: center; }
  @media screen and (max-width: 1220px) {
    .contact {
      margin-left: 20px; } }
  .contact__heading {
    margin-top: 100px;
    font-size: 1.75em; }
    .contact__heading:after {
      content: '';
      width: 60px;
      height: 3px;
      background: #fc3b56;
      display: block;
      margin: 0 auto;
      margin-top: 25px;
      margin-bottom: 50px; }
    @media screen and (max-width: 768px) {
      .contact__heading {
        margin-top: 0; } }
  .contact__cnt {
    border: 1px solid #d4dbe9;
    width: 780px;
    padding: 45px; }
    @media screen and (max-width: 1220px) {
      .contact__cnt {
        width: 80%;
        margin-bottom: 100px; } }
    @media screen and (max-width: 768px) {
      .contact__cnt {
        width: 95%;
        padding: 25px;
        margin-bottom: 60px; } }
  .contact__question {
    font-size: 1.125em;
    margin-bottom: 1em;
    font-weight: 400; }
  .contact__info {
    font-size: 0.875em;
    margin-bottom: 2.5em; }
  .contact__form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .contact__label {
    font-size: 0.75em;
    font-weight: 700;
    margin-bottom: 0.875em; }
  .contact__input {
    padding: 1em;
    margin-bottom: 2em;
    border: 1px solid #d4dbe9; }
    .contact__input:nth-child(10) {
      resize: none;
      font-family: "Roboto", sans-serif; }
  .contact__permission {
    display: inline-block;
    height: 1.25em; }
  .contact__permission-input {
    display: none; }
    .contact__permission-input:checked ~ label > span:before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      position: relative;
      background-color: #296ad0;
      border-radius: 2px;
      top: 15%;
      left: 50%;
      transform: translateY(-50%) translateX(-50%); }
  .contact__permission-span {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 2px solid #d4dbe9;
    position: relative;
    top: 4px; }
  .contact__permission-text {
    display: inline-block;
    font-size: 0.75em;
    margin-left: 0.5em; }
  .contact__submit {
    display: inline-block;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #fc3b56;
    color: #fff;
    font-size: 1em;
    border-radius: 5px;
    border-style: none;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-top: 3em; }

.trust {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  color: #152743;
  -ms-flex-direction: column;
      flex-direction: column;
  font-size: 1rem;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 100px; }
  @media screen and (max-width: 1220px) {
    .trust {
      margin-left: 20px; } }
  @media screen and (max-width: 1220px) {
    .trust {
      display: none; } }
  .trust__heading {
    margin-top: 100px;
    font-size: 1.75em; }
    .trust__heading:after {
      content: '';
      width: 60px;
      height: 3px;
      background: #fc3b56;
      display: block;
      margin: 0 auto;
      margin-top: 25px;
      margin-bottom: 50px; }
  .trust__cnt {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .trust__img {
    border: 1px solid #d4dbe9;
    width: 25%; }

.footer {
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  color: #152743;
  -ms-flex-direction: column;
      flex-direction: column;
  font-size: 1rem;
  color: #8d9fc2; }
  @media screen and (max-width: 1220px) {
    .footer {
      margin-left: 20px; } }
  .footer__main {
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    border-top: 1px solid #d4dbe9;
    height: 60px;
    width: 100%; }
    @media screen and (max-width: 1220px) {
      .footer__main {
        width: 80%; } }
    @media screen and (max-width: 768px) {
      .footer__main {
        -ms-flex-direction: column;
            flex-direction: column;
        height: auto;
        width: 95%;
        text-align: center;
        margin-bottom: 20px; } }
  .footer__angular {
    font-size: 1em;
    font-weight: 700;
    color: #152743;
    margin-top: 25px; }
  .footer__list {
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    font-size: 0.875em; }
    @media screen and (max-width: 768px) {
      .footer__list {
        -ms-flex-direction: column;
            flex-direction: column;
        margin-top: 15px;
        margin-bottom: 20px; } }
  .footer__item {
    margin-left: 55px;
    cursor: pointer; }
    .footer__item:hover {
      color: #152743; }
    .footer__item:first-child {
      margin-left: 0; }
    @media screen and (max-width: 1220px) {
      .footer__item {
        margin-left: 2vw; } }
    @media screen and (max-width: 768px) {
      .footer__item {
        margin-left: 0;
        margin-top: 20px; } }
  .footer__icons {
    height: 22px; }
  .footer__icon {
    margin-left: 14px; }
    @media screen and (max-width: 768px) {
      .footer__icon:first-child {
        margin-left: 0; } }
  .footer__copyright {
    text-align: center;
    font-size: 0.725em;
    margin-top: 0.5em;
    margin-bottom: 1.5em; }
